@page "/route"
@{
    ViewData["Title"] = "Routing";
}
<p>Routing...</p>

@section Scripts {
    <!-- Khi trang load, nó gọi routeByRole() trong role.js -->
    <script>
        routeByRole();
    </script>
}